# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.*
!.env.example

# Banco de dados local do DynamoDB
docker/dynamodb/*.db
docker/dynamodb/shared-local-instance.db

# Uploads de arquivos
uploads/
public/uploads/

# Logs
logs/
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs e editores
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/
